.card__section {
  width: 270px;
  height: 120px;
  display: flex;
  background: #f5f4fa;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.card__icon {
  fill: hsla(0, 0%, 13%, 1);
}

.details__container {
  display: flex;
}

.card__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
  margin-top: 30px;
}
.card {
  display: flex;
  gap: 30px;
}
.details {
  padding-top: 94px;
  padding-bottom: 94px;
}
