.header {
  border: 1px solid #ececec;
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
}

.logo--black {
  color: #000;
}

.navigation__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--button-color);
  text-decoration: none;
  margin-right: 93px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--button-color);
  }
}
.current {
  color: #2196f3;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    position: absolute;
    display: block;
    bottom: 0;
  }
}

.auth__item {
  display: flex;
  color: #757575;
  cursor: pointer;
}

.auth__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--button-color);
    fill: var(--button-color);
  }
}
.auth__icon {
  margin-right: 10px;
  fill: currentColor;
}

.tel {
  color: #757575;
}
.auth {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 318px;
}

.auth {
  display: none;
}

.menu {
  display: flex;
  gap: 50px;
}

.menu {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu-open {
  margin-left: auto;
}
.icon-menu {
  
}