.container {
  max-width: 480px;
}

.hover-text {
  position: absolute;
  top: 0;
  font-style: normal;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-image {
  width: 450px;
  border-bottom: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .hover-text {
    transform: translateY(0);
  }
}
.type-button {
  text-decoration: none;
  background-color: #fff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-button {
  display: flex;
  gap: 8px;
  text-align: center;
}
.link-img {
  text-decoration: none;
}
.wrap {
  position: relative;
  overflow: hidden;
}

.title-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);

  margin-bottom: 4px;
}
.sub-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.list-button {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.list-image {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.description-image {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}
.contact-item {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .portfolio-image {
    width: calc((100% - 30px) / 2);
  }
  .list-button {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
  }
.link-img{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.description-image {
  flex-grow: 1;
}
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }

  .portfolio-image {
    width: calc((100% - 60px) / 3);
  }
}
