.site-nav,
.auth-nav,
.communication,
.list,
.header-page,
.list-button,
.list-image,
.list-do,
.list-team,
.icon-list,
.social-team-list,
.footer-soc-list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
      height: auto;
      max-width: 100%;
  
      width: 100%;
    
}


.container {
  
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}